.weather-wrapper {
  font-family: "Roboto Flex", sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

.weather {
  padding: 30px;
}

/*Primary Weather Section*/
.primary-weather {
  text-align: center;
  color: #0466b1;
  background: rgb(255, 255, 255, 0.55);
  padding: 50px 30px 30px;
  margin: 20px auto;
  width: 310px;
  border: 1px solid none;
  border-radius: 50%;
}

.primary-weather h1,
h3 {
  font-size: 25px;
  font-weight: bold;
  font-family: "DM Serif Display", serif;
  margin: 0 auto;
  padding: 0;
}

.primary-weather h2,
h4,
h5,
h6 {
  font-size: 15px;
  margin: 0 auto;
  padding: 0;
}

.primary-weather h4 {
  text-transform: capitalize;
}

.primary-weather h2 {
  margin-bottom: 10px;
}

.primary-weather h5 {
  margin-top: 10px;
}

.primary-weather h3,
h4 {
  position: relative;
  right: 20px;
}

.primary-weather .primary-icon {
  position: relative;
  left: 10px;
  max-width: 90px;
  height: auto;
}

.primary-weather .units {
  position: relative;
  font-size: 15px;
  top: -5px;
}

/*Media Queries*/
@media (max-width: 767px) {
  .primary-weather {
    padding: 50px 30px 30px;
    margin: 20px auto;
    width: 270px;
  }

  .primary-weather h1,
  h3 {
    font-size: 20px;
  }

  .primary-weather h2,
  h4,
  h5,
  h6 {
    font-size: 12px;
  }

  .primary-weather .primary-icon {
    max-width: 55px;
  }

  .primary-weather .units {
    font-size: 12px;
  }
}
